<h1>all projects</h1>


<%= link_to "add a new project", new_project_path %>

<ul>
  <% @projects.each do | project | %>
    <li><%= link_to project.name, project_path(project) %></li>
  <% end %>
</ul>
